<div class="game-card" tabindex="0">
  <img src="{{ site.baseurl }}{{ game.cover }}" alt="{{ game.title }}" class="card-image">
  <div class="card-overlay">
    <span class="pill {{ game.platform }}">
      {{ game.platform }}
    </span>

    <h2 class="card-title">
      {{ game.title }}
    </h2>

    <div class="card-content">
      <p class="card-description">
        {{ game.excerpt | strip_html | truncate: 300 }}
      </p>

      {% if game.team %}
      <p class="card-team">
        {{ game.team | join: " · " }}
      </p>
      {% endif %}
    </div>

    <a class="btn primary download-btn" href="{{ game.download }}" target="_blank">
      Télécharger
    </a>
  </div>
</div>
