<header class="site-header">
  <div class="wrap header-inner">
<!--    <a href="{{ '/' | relative_url }}" class="brand">-->
<!--      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="École des Nouvelles Images" class="logo"/>-->

<!--      <span class="brand-text">-->
<!--        Showcase Jeux Vidéo<br>-->
<!--        <small>École des Nouvelles Images</small>-->
<!--      </span>-->
<!--    </a>-->

<!--    <nav>-->
<!--      <a href="{{ '/' | relative_url }}">Accueil</a>-->
<!--    </nav>-->
  </div>
</header>