html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle at top, #161a3a, $bg);
  color: $text;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
}
